<div class="container-fluid">
  <div class="row">
    <!-------------------- --Conteúdo principal ------------------------->
    <!-- Conteúdo principal -->
      <div class="col-lg-9">
        <h1 class="mt-4">Editar Mensagem Padrão</h1>
        <div class="right_col" role="main">
          <!-- ... (conteúdo do gráfico e da tabela) ... -->
            <div class="col-lg-9">
              <%= form_for @sms_message do |f| %>
                <%= f.label :smsbody, "Mensagem:" %>
                <%= f.text_area :smsbody, class: "form-control" %>
                </br>
                <%= f.submit "Atualizar", class: "btn btn-primary" %>
                <%= link_to "Voltar", sms_messages_path, class: "btn btn-success" %>
              <% end %>
            </div> 
          <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
    <!-- /Conteúdo principal -->
    <!--------------------- /Conteúdo principal ------------------------->
  </div>
</div>

