<div class="container-fluid">
  <div class="row">
    <!-------------------- --Conteúdo principal ------------------------->
    <!-- Conteúdo principal -->
      <div class="col-lg-9">
        <h1 class="mt-4">Configurações de Alerta</h1>
        <div class="right_col" role="main">
          <!-- ... (conteúdo do gráfico e da tabela) ... -->

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <div class="container">
                    <!-- Exibe o formulário de criação ou edição da mensagem padrão -->
                    <% if @sms_messages.any? %>
                      <% last_sms_message = @sms_messages.last %>
                      <h2>Mensagem Padrão: <%= last_sms_message.smsbody %></h2>
                      <br>
                      <div class="d-flex justify-content-center flex-wrap">
                        <%= form_tag send_sms_twilio_path, method: :post, class: "d-inline" do %>
                          <%= hidden_field_tag :phone, '5561995762787' %> <!-- Número de telefone para disparo -->
                          <%= hidden_field_tag :cont, '80' %> <!-- Exemplo do campo "cont" igual a 80 -->
                          <%= submit_tag "Disparar SMS", class: "btn btn-success mt-2 me-2" %>
                        <% end %>
                        
                        <%= link_to "Editar", edit_sms_message_path(last_sms_message), class: "btn btn-primary mt-2 me-2" %>
                        <%= link_to "Histórico de Alertas", logs_message_path, class: "btn btn-warning mt-2 me-2" %>
                        <%= button_to "Apagar", sms_message_path(last_sms_message), method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger mt-2 me-2" %>
                      </div>
                    <% else %>
                      <p class="mt-4">Nenhuma mensagem padrão criada.</p>
                      <%= link_to "Criar Mensagem Padrão", new_sms_message_path, class: "btn btn-primary mt-2" %>
                    <% end %>
                    <!-- Botão de disparo manual do SMS -->
                  </div>
                </div>
              </div>
            </div>


          <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
    <!-- /Conteúdo principal -->
    <!--------------------- /Conteúdo principal ------------------------->
  </div>
</div>