<div class="container-fluid">
  <div class="row">
    <!-------------------- --Conteúdo principal ------------------------->
    <!-- Conteúdo principal -->
      <div class="col-lg-9">
        <h1 class="mt-4">Configurações de Preço</h1>
        <div class="right_col" role="main">
          <!-- ... (conteúdo do gráfico e da tabela) ... -->
            <div class="table-responsive">
              <% if @dose_price.present? && @dose_price.any? %>
                <% last_dose = @last_dose.last %>
                <h2>Mensagem Padrão:</h2>
                <p><%= @last_dose.price %></p>
                <div class="d-flex justify-content-start">
                  <%= form_with(model: @dose_price, url: dose_prices_path) do |form| %>
                    <%= form.label :price, 'Valor da Dose:' %>
                    <%= form.text_field :price, class: "form-control" %>
                    <%= submit_tag "Salvar", class: "btn btn-success" %>
                  <% end %>
                  <%= link_to "Editar", edit_dose_price_path(dose_price), class: "btn btn-primary mx-1" %>
                  <%= button_to "Apagar", dose_price_path(dose_price), method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger mx-1" %>
                </div>
              <% else %>
                <p>Nenhum preço definido.</p>
                <%= link_to "Definir preço", new_dose_price_path, class: "btn btn-primary" %>
              <% end %>
            </div>
          <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
    <!-- /Conteúdo principal -->
    <!--------------------- /Conteúdo principal ------------------------->
  </div>
</div>





