<div class="container-fluid">
  <div class="row">
    <!-------------------- --Conteúdo principal ------------------------->
    <!-- Conteúdo principal -->
      <div class="col-lg-9">
        <h1 class="mt-4">Meus Dispositivos</h1>
        <div class="right_col" role="main">
          <!-- ... (conteúdo do gráfico e da tabela) ... -->
            <div class="right_col" role="main">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="container">
                    <div class="row">
                      <% @devices.each do |device| %>
                        <div class="col-md-6 mb-3">
                          <div class="card" style="max-width: 570px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <%= image_tag "dispenser.jpg", alt: "Imagem do Dispenser", class: "img-fluid rounded-start" %>
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title"><b><%= device["device"] %></b></h5>
                                  <% if device["status"] == "online" %>
                                    <p>Status: Online <span class="status-dot status-online"></span></p>
                                  <% else %>
                                    <p>Status: Offline <span class="status-dot status-offline"></span></p>
                                  <% end %>                          
                                  <p>IP Device: <%= device["ipadrrs"] %></p>
                                  <p>Quantidade de dose: <%= device["cont"] %></p>
                                  <p>Acesso:
                                    <% if device["padlock"] == "unlock" %>
                                      <button class="btn btn-danger lock-button" type="button">
                                        <i class="fas fa-unlock"></i> Desbloqueado
                                      </button>
                                    <% else %>
                                      <button class="btn btn-danger lock-button" type="button">
                                        <i class="fas fa-lock"></i> Bloqueado
                                      </button>
                                    <% end %>
                                  </p>                      
                                  <p>Atendentes:</p> 
                                  <p class="card-text"><small class="text-muted">Online última vez <%= device["last_seen"].strftime('%d/%m/%Y') %> </small></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
    <!-- /Conteúdo principal -->
    <!--------------------- /Conteúdo principal ------------------------->
  </div>
</div>