<div class="container-fluid">
  <div class="row">
    <!-------------------- --Conteúdo principal ------------------------->
    <!-- Conteúdo principal -->
      <div class="col-lg-9">
        <h1 class="mt-4">Todos os Dispositivos</h1>
        <div class="right_col" role="main">
          <!-- ... (conteúdo do gráfico e da tabela) ... -->
            <!-- ... (conteúdo do gráfico e da tabela) ... -->
              <div class="row">
                <% @results.each do |result| %>
                  <div class="col-lg-3 col-md-6">
                    <div class="card">
                      <%= image_tag 'dispenser.jpg', class: "card-img-top", alt: "Produto 1" %>
                      <div class="card-body">
                        <% result['id'] %>
                        <h5 class="card-title"><p><%= result['device'] %></p></h5>
                        <p><strong>Status:</strong> <%= result['status'] %> <span class="status-dot status-online"></span></p>
                        <p><strong>IP Device:</strong> <%= result['ipadrrs'] %></p>
                        <p><strong>Quantidade de doses:</strong> <%= result['cont'] %></p>
                        <% if result['last_seen'].present? %>
                          <p><strong>Online última vez:</strong> <%= DateTime.parse(result['last_seen']).strftime('%d/%m/%Y - %H:%M:%S') %></p>
                        <% else %>
                          <p><strong>Online última vez:</strong> Data e hora indisponíveis</p>
                        <% end %>
                        <div class="text-center">
                        <% if result["padlock"] == "unlock" %>
                          <button type="button" class="btn btn-success lock-button" data-device="<%= result['device'] %>" data-device-id="<%= result['id'] %>">
                            <i class="fa fa-unlock"></i> Desbloqueado
                          </button>
                        <% else %>
                          <button type="button" class="btn btn-danger lock-button" data-device="<%= result['device'] %>" data-device-id="<%= result['id'] %>">
                            <i class="fa fa-lock"></i> Bloqueado
                          </button>
                        <% end %>
                      </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              </br>
              </br>
              <div class="text-center">
                <%if @api_data.present?%>
                  <%= paginate @api_data, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center", nav_class: "d-inline-block" %>
                <%end%>
              </div>
              </div>
              </div>
              <!-- /top tiles -->
              <!-- /FInal Tabela -->
          <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
    <!-- /Conteúdo principal -->
    <!--------------------- /Conteúdo principal ------------------------->
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const lockButtons = document.querySelectorAll(".lock-button");

    lockButtons.forEach(button => {
      const device = button.getAttribute("data-device");
      console.log("Nome Device:", device); // Adicione esta linha para exibir o deviceId no console
      const id = button.getAttribute("data-device-id");
      console.log("Device ID:", id); // Adicione esta linha para exibir o deviceId no console
      const storedState = localStorage.getItem(`device_${id}_status`);
      console.log("Estado Salvo:", storedState); // Adicione esta linha para exibir o deviceId no console
      const currentState = storedState || (button.classList.contains("btn-success") ? "unlock" : "lock");
      console.log("currentState:", currentState); // Adicione esta linha para exibir o deviceId no console

      updateButtonStatus(button, currentState);

      button.addEventListener("click", function() {
        const newStatus = currentState === "unlock" ? "lock" : "unlock";

        fetch(`https://dispenser-smart-api-947773b37df2.herokuapp.com/esp8266s/${id}`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            padlock: newStatus
          })
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            updateButtonStatus(button, newStatus);
            localStorage.setItem(`device_${id}_status`, newStatus);
            location.reload(); // Recarrega a página automaticamente
          } else {
            console.error("Erro ao atualizar o estado do dispositivo.");
          }
        })
        .catch(error => {
          console.error("Erro na solicitação para a API:", error);
        });
      });
    });

    function updateButtonStatus(button, status) {
      if (status === "unlock") {
        button.classList.remove("btn-danger");
        button.classList.add("btn-success");
        button.innerHTML = '<i class="fa fa-unlock"></i> Desbloqueado';
      } else {
        button.classList.remove("btn-success");
        button.classList.add("btn-danger");
        button.innerHTML = '<i class="fa fa-lock"></i> Bloqueado';
      }
    }
  });
</script>
