  <div class="container-fluid">
    <div class="row">
      <!-------------------- --Conteúdo principal ------------------------->
      <!-- Conteúdo principal -->
        <div class="col-lg-9">
          <h1 class="mt-4"> Gerenciamento de Usuários Editar</h1>
          <div class="right_col" role="main">
            <!-- ... (conteúdo do gráfico e da tabela) ... -->
              <%= form_for @user, url: administrador_users_path(@user), method: :patch, html: { class: 'form' } do |f| %>
                <div class="form-group">
                  <%= f.label :Email %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                  <%= f.label :Nome %>
                  <%= f.text_field :name, autocomplete: "name", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                  <%= f.label :Telefone %>
                  <%= f.text_field :phone, autocomplete: "phone", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                  <%= f.submit 'Salvar', class: 'btn btn-primary' %>
                </div>
              <% end %>
            <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
      <!-- /Conteúdo principal -->
      <!--------------------- /Conteúdo principal ------------------------->
    </div>
  </div>


  